<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Monitoring Portal</title>
    <link rel="stylesheet" href="/style.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BMPWH11ZLJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BMPWH11ZLJ');
</script>
  </head>
<body>
 <a href="/">
  <div class="header">
  <h2>IB/CDB<br> PROJECT PROGRESS TRACKER</h2><br>
  </div>
</a>
  <div class="projTable">
    <p id="projDetails">Submit your latest achievement below:</p>

    <% if (project) { %>
        <table id = "table-container">
            <thead>
              <tr>
                <% const columnTitles = ['Project ID', 'Project Name', 'Approved Funding', 'Approved MMF', 'Outcome Metric', 'Target', '6-mth Achievement', '1-yr Achievement','1.5-yr Achievement', '2-yr Achievement', '2.5-yr Achievement', '3-yr Achievement']; /* Pre-defined column titles */ %>
                <% let nonNullFieldCount = 0; %>
                <% for (const key in project) { %>
                  <% if (key !== 'id' && key !== 'hasSubmitted' && project[key] !== null) { %>
                    <th><%= columnTitles[nonNullFieldCount] %></th>
                    <% nonNullFieldCount++; %>
                  <% } %>
                <% } %>
                <!-- Additional column with dynamic header -->
                <th><%= columnTitles[nonNullFieldCount] %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% for (const key in project) { %>
                  <% if (key !== 'id' && key !== 'hasSubmitted' && project[key] !== null) { %>
                    <td><%= project[key] %></td>
                  <% } %>
                <% } %>
                <!-- Additional column with input field and submit button -->
                <td>
                  <input type="text" id="additionalInput" placeholder="Enter value">
                  <input type="hidden" id="projectID2" name="projectID" value="<%= project.projectID %>">
                  <button id="submitButton" class="btn btn-black">Submit</button>
                </td>
              </tr>
            </tbody>
          </table>
          <% if (typeof error !== 'undefined') { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
    <% } else { %>
        <p>No project data available.</p>
    <% } %>

</div>


 

    <footer>
      <p><b>Disclaimer:</b> This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.</p>
    </footer>
    
    <script src="script.js"></script>
</body>



</html>

